.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
  box-shadow: none;
  outline: none;
}
.app-list-item .btn-star {
  color: #b8b8b8;
}
.app-list-item .btn-trash {
  color: red;
}
.app-list-item .fa-check {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 36px;
  color: rgb(16, 59, 5);
  transition: 0.3s all;
  transform: translateX(40px);
  opacity: 0;
  margin-left: 20px;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}
.app-list-item.like span {
  text-decoration: line-through;
}
.app-list-item.like .fa-check {
  opacity: 1;
  transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  color: #c20909;
  font-weight: bold;
}

.app-list-item.important .btn-star {
  color: #db5e0b;
}
